.stack {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}
